@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* Shared Styles */
.max-width {
    max-width: 90%;
    margin: 0 auto;
}
.display-flex {
    display: flex;
    justify-content: space-between;
    gap:1.9rem;
    align-items: center;
}
.btn-primary{
    background-color: #E02C6D;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.margin-top{
    margin-top: 100px;
}

/* font-color */
.primary-color{
    color: #3A3A3A;
}
.secondary-color{
    color: #6C6C6C;
}

/* naveber section */
.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-links ul{
    list-style: none;
}
.nav-links ul a{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    text-decoration: none;
}

/* Hero Section */

.hero-container{
    margin-top: 40px;
    gap: 133px;
}
.hero-content h1{
    font-size: 3.25rem;
    font-weight: 700;
}
.hero-content p{
    font-size: 1rem;
    font-weight: 500;
    width: 505px;
}

.hero-image{
    margin-left: 45px;
    margin-right: 33px;
}
.hero-image img{
    background-image: url('/images/Circle\ design.svg');
}

/* Sponsor Images */

.sponsor-content .images-content {
    margin: 0 45px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Card Sections */
.popular-collection{
    margin:0 auto;
}
.popular-head{
    text-align: center;
}
.collection-card{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 1px 10px 50px 2px #ffffff;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}
/* Future Products Section */
.future-detail{
    width: 70%;
    margin-left: 50px;
}
.future-detail h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.future-detail p{
    width: 501px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.future-detail button{
    margin-top: 16px;
    padding:8px 16px;
    background-color: #E02C6D;
    color: #ffffff;
    border:none;
}
/* footer sction styles */
footer{
    background-color: #0e005c;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}
footer h3{
    font-size: 2.5rem;
    font-weight: 700;
    color:#ffffff;
}
footer p{
    font-size: 1rem;
    font-weight: 500;
    color:#D9DBE1;
    line-height: 1.8rem;
}

/* small-devices-responsive */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hero-container{
        flex-direction: column;
        max-width: 70%;
    }
    .hero-container h1{
        font-size: 1.9rem;
        text-align: center;
    }
    .hero-container p{
        font-size: 1rem;
        width: 100%;
    }
}
